<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Pytronic, C.A.</title>
  <meta content="Somos un equipo de técnicos experimentados que se especializan en la reparación de dispositivos electrónicos y de informática. Ofrecemos un servicio rápido y confiable, y estamos seguros de poder reparar su dispositivo a un precio asequible.

  Podemos reparar todos los tipos de dispositivos electrónicos, incluyendo teléfonos inteligentes, computadoras portátiles, tabletas, televisores, consolas de juegos, y más. También ofrecemos servicios de mantenimiento y actualización, para que pueda mantener sus dispositivos en buen estado.
  
  Si tiene algún problema con su dispositivo electrónico o informático, no dude en ponerse en contacto con nosotros. Estaremos encantados de ayudarle a solucionar el problema y hacer que su dispositivo vuelva a funcionar como nuevo." name="description">
  <meta content="reparación, servicio técnico, electrónica, informática, dispositivos, teléfonos inteligentes, computadoras portátiles, tabletas, televisores, consolas de juegos, mantenimiento, actualización, precios asequibles, servicio rápido y confiable" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">


  <link href="assets/css/style.css" rel="stylesheet">

  <script src="assets/js/index.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js">
  </script>
  <script type="text/javascript">
    (function () {
      emailjs.init("euzXzq8rjIxVkJRIX");
    })();
  </script>

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-lg-between">

      <h1 class="logo me-auto me-lg-0"><a href="index.html">Pytronic, C.A<span>.</span></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Inicio</a></li>
          <li><a class="nav-link scrollto" href="#about">Acerca de nosotros</a></li>
          <li><a class="nav-link scrollto" href="#services">Servicios</a></li>
<!--           <li><a class="nav-link scrollto " href="#portfolio">Portafolio</a></li> -->
          <li><a class="nav-link scrollto" href="#team">Equipo</a></li>
           <!-- <li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a> -->
            <!-- <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
              <li><a href="#">Drop Down 2</a></li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
            </ul> -->
          </li> 
          <li><a class="nav-link scrollto" href="#contact">Contacto</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->



                            <!-- {% if request.user.is_authenticated %}
                        <a class="get-started-btn scrollto" href="{% url 'dashboard">
                            <i class="bx bx-user"></i> Bienvenido {{ request.user.username }}
                        </a>
                    {% else %}
                        <a class="get-started-btn scrollto" href="{% url 'login">
                            <i class="bx bx-door-open"></i> Login
                        </a>
                    {% endif %} -->


    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">

      <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
        <div class="col-xl-6 col-lg-8">
          <h1>Potentes soluciones tecnológicas con Pytronic, C.A<span>.</span></h1>
          <h2>Somos un equipo de talentosos especialistas en electrónica e informática.</h2>
        </div>
      </div>

      <div class="row gy-4 mt-5 justify-content-center" data-aos="zoom-in" data-aos-delay="250">
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <i class="ri-macbook-line"></i>
            <h3><a href="#">Reparación de laptops</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <i class="ri-tv-2-line"></i>
            <h3><a href="#">Reparación de monitores y televisores</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <i class="ri-cpu-line"></i>
            <h3><a href="#">Reparación de PC de escritorio</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <i class="ri-battery-charge-line"></i>
            <h3><a href="#">Reparación de Ups y cargadores</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <i class="ri-printer-line"></i>
            <h3><a href="#">Reparación de Impresoras y plotters</a></h3>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="assets/img/about.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
            <h3>¿Quiénes Somos?</h3>
            <p class="fst-italic">
              Pytronic, C.A. es una empresa de reparación de equipos electrónicos fundada en agosto de 2018 por jóvenes emprendedores. Ofrecemos servicios de diagnóstico, reparación, mantenimiento y soporte técnico a una variedad de equipos electrónicos, incluyendo laptops, computadores de escritorio, televisores, monitores, transformadores, impresoras, fuentes de poder, módems, routers, y otros.
            </p>
            <h3>¿Cómo trabajamos?</h3>
            <p class="fst-italic">
              Cuando un equipo ingresa a Pytronic C.A. se hace una orden de servicio en la cual se especifíca el modelo del equipo, seriales del mismo, la fecha de ingreso y la falla. Luego en un período de dos dias hábiles se hace el diagnóstico para determinar si el equipo tiene solución, de ser así se procede a dar presupuesto al cliente para realizar la reparación y entregar el equipo en un lapso no mayor a tres días desde su ingreso. En caso de no tener solución solo se cancela la revisión del equipo.
            </p>
            <h3>¿Por qué reparar?</h3>
            <p class="fst-italic">
              En Pytronic, C.A. la primera opción es reparar los equipos electrónicos, de esta manera contribuimos a disminuir la contaminación ambiental, reciclamos y a su vez reducimos sus costos por la adquisición de un equipo nuevo.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients">
      <div class="container" data-aos="zoom-in">
        <h3 class="text-center font-weight-bold"><strong>Marcas con las que te podemos ayudar</strong></h3> <br>
        <div class="clients-slider swiper">
          <div class="swiper-wrapper align-items-center">
            <div class="swiper-slide"><img src="assets/img/clients/client-1.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/img/clients/client-2.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/img/clients/client-3.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/img/clients/client-4.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/img/clients/client-5.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/img/clients/client-6.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/img/clients/client-7.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/img/clients/client-8.png" class="img-fluid" alt=""></div>
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Clients Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
      
      <h3 class="text-center font-weight-bold"><strong>¿Por qué elegirnos?</strong></h3> <br>
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="image col-lg-6" style='background-image: url("assets/img/features.jpg");' data-aos="fade-right"></div>
          <div class="col-lg-6" data-aos="fade-left" data-aos-delay="2000">
            <div class="icon-box mt-5 mt-lg-0" data-aos="zoom-in" data-aos-delay="150">
              <i class="bx bxs-lock-open"></i>
              <h4>Transparencia</h4>
              <p>Te ofrecemos un contrato de servicio con toma de seriales, fotos reales de su reparación, y garantía real o te devolvemos tu dinero.
              </p>
            </div>
            <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
              <i class="bx bx-dollar"></i>
              <h4>Precios competitivos</h4>
              <p>Tenemos un amplio stock de repuestos originales, calidad garantizada, sin intermediarios, y somos mayoristas.
              </p>
            </div>
            <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
              <i class="bx bx-group"></i>
              <h4>Personal calificado</h4>
              <p>Contamos con más de 10 años de experiencia, un equipo profesional y educado, celeridad en el servicio, y maquinarias y equipos de vanguardia.
              </p>
            </div>
            <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
              <i class="bx bx-shield"></i>
              <h4>Servicios integrales</h4>
              <p>Ofrecemos servicios integrales en la resolución de tus problemas tecnológicos, adaptados a las especificidades según el caso.</p>
            </div>
            <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
              <i class="bx bx-select-multiple"></i>
              <h4>Control y seguimiento</h4>
              <p>Te ofrecemos informes técnicos, seguimiento y asesorías.</p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Features Section -->

    <!-- ======= Services Section ======= -->
     <section id="services" class="services">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Servicios</h2>
          <p>CONSULTE NUESTROS SERVICIOS</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="ri-macbook-line"></i></div>
              <h4><a href="https://wa.me/p/6757675327661726/584147148811">Reparación de laptops</a></h4>
              <p>Ofrecemos una amplia gama de servicios de reparación de laptops, incluyendo:
                Diagnóstico y presupuesto.
                Reparación de hardware y software.
                Sustitución de componentes.
                Instalación de sistemas operativos.
                Limpieza y mantenimiento.
                Recuperación de datos.
                Servicio a domicilio.
                Garantía en todas nuestras reparaciones.
              </p>
              <!-- <ul>
                <li>Mantenimiento preventivo</li>
                <li>Actualización de software</li>
                <li>Reparación de tarjeta madre</li>
                <li>Limpieza de virus</li>
                <li>Reparación y cambio de pantallas, teclados, discos duros y baterías</li>
                </ul> -->
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="ri-tv-2-line"></i></div>
              <h4><a href="https://wa.me/p/25092939050305048/584147148811" target="_blank">Reparación de monitores y televisores</a></h4>
              <p>Ofrecemos una amplia gama de servicios de reparación de monitores y televisores, incluyendo:

                Diagnóstico y presupuesto.
                Reparación de pantallas LCD, LED y OLED.
                Reparación de circuitos electrónicos.
                Sustitución de componentes.
                Calibración de color.
                Limpieza y mantenimiento.
                Servicio a domicilio.
                Garantía en todas nuestras reparaciones</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="ri-cpu-line"></i></div>
              <h4><a href="https://wa.me/p/7221485211209443/584147148811" target="_blank">Reparación de PC de escritorio</a></h4>
              <p>Ofrecemos una amplia gama de servicios de reparación de PC de escritorio, incluyendo:

                Diagnóstico y presupuesto gratuitos.
                Reparación de hardware y software.
                Sustitución de componentes.
                Instalación de sistemas operativos.
                Formateo y reinstalación de Windows.
                Limpieza y mantenimiento.
                Recuperación de datos.
                Servicio a domicilio.
                Garantía en todas nuestras reparaciones.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="ri-battery-charge-line"></i></div>
              <h4><a href="https://wa.me/p/6142961522470814/584147148811" target="_blank">Reparación de Ups y transformadores</a></h4>
              <p>Ofrecemos una amplia gama de servicios de UPS y transformadores, incluyendo:

                Venta de UPS y transformadores de las mejores marcas.
                Instalación y configuración de UPS y transformadores.
                Mantenimiento preventivo y correctivo de UPS y transformadores.
                Reparación de UPS y transformadores.
                Asesoría técnica para la selección de UPS y transformadores.
                Pruebas de carga y rendimiento de UPS y transformadores.
                Monitoreo remoto de UPS y transformadores.
                Garantía en todos nuestros servicios.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="ri-printer-line"></i></div>
              <h4><a href="https://wa.me/p/6948025505310858/584147148811" target="_blank">Reparación de Impresoras y plotters</a></h4>
              <p>Ofrecemos una amplia gama de servicios de impresoras y plotters, incluyendo:

                Venta de impresoras y plotters de las mejores marcas.
                Instalación y configuración de impresoras y plotters.
                Mantenimiento preventivo y correctivo de impresoras y plotters.
                Reparación de impresoras y plotters.
                Suministros de impresión para impresoras y plotters.
                Asesoría técnica para la selección de impresoras y plotters.
                Calibración de impresoras y plotters.
                Servicio a domicilio.
                Garantía en todos nuestros servicios.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="ri-database-2-line"></i></div>
              <h4><a href="https://wa.me/p/24287684087513727/584147148811" target="_blank">Recuperación de datos</a></h4>
              <p>Ofrecemos una amplia gama de servicios de recuperación de datos, incluyendo:

                Diagnóstico y presupuesto gratuitos.
                Recuperación de datos de discos duros, unidades SSD, tarjetas de memoria y otros dispositivos de almacenamiento.
                Reparación de discos duros y unidades SSD.
                Transferencia de datos a un nuevo dispositivo.
                Eliminación segura de datos.
                Asesoría técnica para la prevención de la pérdida de datos.
                Servicio a domicilio.
                Garantía en todos nuestros servicios.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section --> 

    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container" data-aos="zoom-in">

        <div class="text-center">
          <h3>¿Necesitas ayuda con tu computadora o dispositivo móvil?</h3>
          <p> Nuestros expertos en soporte IT pueden ayudarte con cualquier problema que tengas a nivel de hardware y software. ¡Llámanos ahora!</p>
          <a class="cta-btn" target="_blank" href="https://wa.me/message/BEYXAMNCGDFTL1">Consulta Gratis</a>
        </div>

      </div>
    </section>
    
    <!-- End Cta Section -->

    <!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Portafolio</h2>
          <p>Conoce nuestro portafolio</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">Todo</li>
              <li data-filter=".filter-pc">Pc</li>
              <li data-filter=".filter-mon">Monitores</li>
              <li data-filter=".filter-lap">Laptops</li>
              <li data-filter=".filter-tv">TV</li>
              <li data-filter=".filter-tran">Transformadores</li>
              <li data-filter=".filter-impr">Impresoras</li>
              <li data-filter=".filter-so">Sistemas operativos</li>
              <li data-filter=".filter-graph">Tarjetas Gráficas</li>
              <li data-filter=".filter-otros">Otros</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-4 col-md-6 portfolio-item filter-pc">
            <div class="portfolio-wrap">
              <img src="assets/img/services/pcs/mant.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>pc 1</h4>
                <p>pc</p>
                <div class="portfolio-links">
                  <a href="assets/img/services/pcs/mant.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="pc 1"><i class="bx bx-plus"></i></a>
                  <a href="https://wa.me/p/7221485211209443/584147148811" target="_blank" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-graph">
            <div class="portfolio-wrap">
              <img src="assets/img/services/graficas/vram.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>graph 3</h4>
                <p>graph</p>
                <div class="portfolio-links">
                  <a href="assets/img/services/graficas/vram.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="graph 3"><i class="bx bx-plus"></i></a>
                  <a href="https://wa.me/p/6534788069966223/584147148811" target="_blank" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-lap">
            <div class="portfolio-wrap">
              <img src="assets/img/services/laptop/mant-laptop.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>lap 3</h4>
                <p>lap</p>
                <div class="portfolio-links">
                  <a href="assets/img/services/laptop/mant-laptop.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="lap 3"><i class="bx bx-plus"></i></a>
                  <a href="https://wa.me/p/6757675327661726/584147148811" target="_blank" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-pc">
            <div class="portfolio-wrap">
              <img src="assets/img/services/pcs/cond.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>pc 2</h4>
                <p>pc</p>
                <div class="portfolio-links">
                  <a href="assets/img/services/pcs/cond.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="pc 2"><i class="bx bx-plus"></i></a>
                  <a href="https://wa.me/p/7220508794634685/584147148811" target="_blank" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-so">
            <div class="portfolio-wrap">
              <img src="assets/img/services/so/linux.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>so 2</h4>
                <p>so</p>
                <div class="portfolio-links">
                  <a href="assets/img/services/so/linux.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="so 2"><i class="bx bx-plus"></i></a>
                  <a href="https://wa.me/p/6888803134568665/584147148811" target="_blank" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-mon">
            <div class="portfolio-wrap">
              <img src="assets/img/services/monitor/fuent.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>mon 2</h4>
                <p>mon</p>
                <div class="portfolio-links">
                  <a href="assets/img/services/monitor/fuent.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="mon 2"><i class="bx bx-plus"></i></a>
                  <a href="https://wa.me/p/7067316609999286/584147148811" target="_blank" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-tran">
            <div class="portfolio-wrap">
              <img src="assets/img/services/transformador/fuent.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>tran 2</h4>
                <p>tran</p>
                <div class="portfolio-links">
                  <a href="assets/img/services/transformador/fuent.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="tran 2"><i class="bx bx-plus"></i></a>
                  <a href="https://wa.me/p/6142961522470814/584147148811" target="_blank" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-pc">
            <div class="portfolio-wrap">
              <img src="assets/img/services/pcs/tarjeta.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>pc 3</h4>
                <p>pc</p>
                <div class="portfolio-links">
                  <a href="assets/img/services/pcs/tarjeta.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="pc 3"><i class="bx bx-plus"></i></a>
                  <a href="https://wa.me/p/24202891882658567/584147148811" target="_blank" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-so">
            <div class="portfolio-wrap">
              <img src="assets/img/services/so/macOS.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>so 2</h4>
                <p>so</p>
                <div class="portfolio-links">
                  <a href="assets/img/services/so/macOS.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="so 2"><i class="bx bx-plus"></i></a>
                  <a href="https://wa.me/p/6760238734025063/584147148811" target="_blank" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-tv">
            <div class="portfolio-wrap">
              <img src="assets/img/services/tv/led-tv.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>tv 3</h4>
                <p>tv</p>
                <div class="portfolio-links">
                  <a href="assets/img/services/tv/led-tv.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="tv 3"><i class="bx bx-plus"></i></a>
                  <a href="https://wa.me/p/7029859817070547/584147148811" target="_blank" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-impr">
            <div class="portfolio-wrap">
              <img src="assets/img/services/impresora/mant.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>impr 2</h4>
                <p>impr</p>
                <div class="portfolio-links">
                  <a href="assets/img/services/impresora/mant.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="impr 2"><i class="bx bx-plus"></i></a>
                  <a href="https://wa.me/p/6948025505310858/584147148811" target="_blank" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-otros">
            <div class="portfolio-wrap">
              <img src="assets/img/services/ups/bat.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>ups 2</h4>
                <p>ups</p>
                <div class="portfolio-links">
                  <a href="assets/img/services/ups/bat.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="ups 2"><i class="bx bx-plus"></i></a>
                  <a href="https://wa.me/p/7255548404458055/584147148811" target="_blank" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-so">
            <div class="portfolio-wrap">
              <img src="assets/img/services/so/windows7.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>so 2</h4>
                <p>so</p>
                <div class="portfolio-links">
                  <a href="assets/img/services/so/windows7.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="so 2"><i class="bx bx-plus"></i></a>
                  <a href="https://wa.me/p/6757201644387095/584147148811" target="_blank" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-tran">
            <div class="portfolio-wrap">
              <img src="assets/img/services/transformador/punt.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>tran 2</h4>
                <p>tran</p>
                <div class="portfolio-links">
                  <a href="assets/img/services/transformador/punt.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="tran 2"><i class="bx bx-plus"></i></a>
                  <a href="https://wa.me/p/24176008732045370/584147148811" target="_blank" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-mon">
            <div class="portfolio-wrap">
              <img src="assets/img/services/monitor/lamp.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>mon 1</h4>
                <p>mon</p>
                <div class="portfolio-links">
                  <a href="assets/img/services/monitor/lamp.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="mon 1"><i class="bx bx-plus"></i></a>
                  <a href="https://wa.me/p/6994471380598530/584147148811" target="_blank" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-so">
            <div class="portfolio-wrap">
              <img src="assets/img/services/so/windows10.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>so 2</h4>
                <p>so</p>
                <div class="portfolio-links">
                  <a href="assets/img/services/so/windows10.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="so 2"><i class="bx bx-plus"></i></a>
                  <a href="https://wa.me/p/24287684087513727/584147148811" target="_blank" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-impr">
            <div class="portfolio-wrap">
              <img src="assets/img/services/impresora/cabez.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>impr 2</h4>
                <p>impr</p>
                <div class="portfolio-links">
                  <a href="assets/img/services/impresora/cabez.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="impr 2"><i class="bx bx-plus"></i></a>
                  <a href="https://wa.me/p/7606422222706667/584147148811" target="_blank" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-tv">
            <div class="portfolio-wrap">
              <img src="assets/img/services/tv/mant-tv.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>tv 3</h4>
                <p>tv</p>
                <div class="portfolio-links">
                  <a href="assets/img/services/tv/mant-tv.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="tv 3"><i class="bx bx-plus"></i></a>
                  <a href="https://wa.me/p/6933340436722626/584147148811" target="_blank" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>
          


          <div class="col-lg-4 col-md-6 portfolio-item filter-lap">
            <div class="portfolio-wrap">
              <img src="assets/img/services/laptop/rec-bisa.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>lap 3</h4>
                <p>lap</p>
                <div class="portfolio-links">
                  <a href="assets/img/services/laptop/rec-bisa.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="lap 3"><i class="bx bx-plus"></i></a>
                  <a href="https://wa.me/p/7204104289639826/584147148811" target="_blank" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-tv">
            <div class="portfolio-wrap">
              <img src="assets/img/services/tv/power-tv.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>tv 3</h4>
                <p>tv</p>
                <div class="portfolio-links">
                  <a href="assets/img/services/tv/power-tv.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="tv 3"><i class="bx bx-plus"></i></a>
                  <a href="https://wa.me/p/25092939050305048/584147148811" target="_blank" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-otros">
            <div class="portfolio-wrap">
              <img src="assets/img/services/mouse/sensor.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>mouse 3</h4>
                <p>mouse</p>
                <div class="portfolio-links">
                  <a href="assets/img/services/mouse/sensor.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="mouse 3"><i class="bx bx-plus"></i></a>
                  <a href="https://wa.me/p/7009181389142828/584147148811" target="_blank" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-otros">
            <div class="portfolio-wrap">
              <img src="assets/img/services/routers/rep.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Router 3</h4>
                <p>Router</p>
                <div class="portfolio-links">
                  <a href="assets/img/services/routers/rep.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="router 3"><i class="bx bx-plus"></i></a>
                  <a href="https://wa.me/p/7528694293826560/584147148811" target="_blank" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-otros">
            <div class="portfolio-wrap">
              <img src="assets/img/services/teclado/rep.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>tecl 3</h4>
                <p>tecl</p>
                <div class="portfolio-links">
                  <a href="assets/img/services/teclado/rep.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="tecl 3"><i class="bx bx-plus"></i></a>
                  <a href="https://wa.me/p/7190531360989571/584147148811" target="_blank" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-so">
            <div class="portfolio-wrap">
              <img src="assets/img/services/so/windows11.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>so 2</h4>
                <p>so</p>
                <div class="portfolio-links">
                  <a href="assets/img/services/so/windows11.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="so 2"><i class="bx bx-plus"></i></a>
                  <a href="https://wa.me/p/7033389893386479/584147148811" target="_blank" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-lap">
            <div class="portfolio-wrap">
              <img src="assets/img/services/laptop/remp-pant.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>lap 3</h4>
                <p>lap</p>
                <div class="portfolio-links">
                  <a href="assets/img/services/laptop/remp-pant.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="lap 3"><i class="bx bx-plus"></i></a>
                  <a href="https://wa.me/p/6833683596710884/584147148811" target="_blank" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section>
    <!-- End Portfolio Section --> 

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container" data-aos="fade-up">

        <div class="row no-gutters">
          <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-lg-start" data-aos="fade-right" data-aos-delay="100"></div>
          <div class="col-xl-7 ps-4 ps-lg-5 pe-4 pe-lg-1 d-flex align-items-stretch" data-aos="fade-left" data-aos-delay="100">
            <div class="content d-flex flex-column justify-content-center">
              <h3>Estamos comprometidos contigo</h3>
              <p>
                Si está buscando un proveedor de servicio técnico que pueda ayudarle con sus necesidades de TI, no dude en ponerse en contacto con nosotros. Estaremos encantados de responder a cualquier pregunta que pueda tener y proporcionarle una cotización sin compromiso.
              </p>
              <div class="row">
                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="bi bi-emoji-smile"></i>
                    <span data-purecounter-start="0" data-purecounter-end="100" data-purecounter-duration="2" class="purecounter"></span>
                    <p><strong>Clientes Felices</strong> Nos enorgullecemos de tener una larga lista de clientes satisfechos. Hemos ayudado a clientes de todos los tamaños y de todos los sectores a resolver sus problemas de TI. Nuestros clientes nos prefieren por nuestro servicio al cliente, nuestras habilidades técnicas y nuestro compromiso con la calidad.</p>
                  </div>
                </div>

                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="bi bi-journal-richtext"></i>
                    <span data-purecounter-start="0" data-purecounter-end="100" data-purecounter-duration="2" class="purecounter"></span>
                    <p><strong>Proyectos</strong> Hemos trabajado en una amplia gama de proyectos, desde la instalación de nuevos sistemas informáticos hasta la resolución de problemas de seguridad. Tenemos experiencia en todas las principales plataformas de TI y estamos siempre al día de las últimas tecnologías.</p>
                  </div>
                </div>

                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="bi bi-clock"></i>
                    <span data-purecounter-start="0" data-purecounter-end="10" data-purecounter-duration="4" class="purecounter"></span>
                    <p><strong>Años de experiencia</strong> Tenemos más de 10 años de experiencia en la industria de TI. Esto nos ha dado la oportunidad de aprender de nuestros errores y mejorar nuestras habilidades. Estamos constantemente aprendiendo y evolucionando, y estamos comprometidos a proporcionar a nuestros clientes la mejor experiencia posible.</p>
                  </div>
                </div>

                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="bi bi-award"></i>
                    <span data-purecounter-start="0" data-purecounter-end="14" data-purecounter-duration="4" class="purecounter"></span>
                    <p><strong>Premios</strong> Hemos sido reconocidos por nuestro trabajo por empresas privadas y clientes finales. Su satisfacción son un testimonio de nuestro compromiso con la excelencia y nuestro historial de éxito.</p>
                  </div>
                </div>
              </div>
            </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section><!-- End Counts Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container" data-aos="zoom-in">

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                <h3>Rubén Torres</h3>
                <h4>Cliente</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Excelente servicio y buena atención. Entregan los equipos en tiempo record
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                <h3>Giselle Villa</h3>
                <h4>Educadora</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Excelente! 100% Recomendado. Servicios de primera con la mejor atención.

                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                <h3>Cynthia FC (JuristaDev)</h3>
                <h4>Guía local</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Excelentes. 100% profesionales. Tienen un gran personal capacitado y con buen trato al público.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                <h3>Anthonny Arias</h3>
                <h4>Profesor universitario ULA</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  El personal es muy profesional y amable, traje mi laptop porque no encendía la pantalla y me lo solucionaron con prontitud.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                <h3>Carlos Dos Santos Da Silva</h3>
                <h4>Emprendedor</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Excelente atención, mi equipo va perfecto aún después del mantenimiento y reparación
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Team Section ======= -->
     <section id="team" class="team">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>EQUIPO</h2>
          <p>CONSULTA NUESTRO EQUIPO</p>
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="assets/img/team/team-1.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Alex Mogollón</h4>
                <span>C.E.O</span>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="200">
              <div class="member-img">
                <img src="assets/img/team/team-5.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Carlos Ortega</h4>
                <span>C.T.O.</span>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="300">
              <div class="member-img">
                <img src="assets/img/team/team-3.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Lionel Mendez</h4>
                <span>Diseñador Grafico</span>
              </div>
            </div>
          </div>

<!--           <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="400">
              <div class="member-img">
                <img src="assets/img/team/team-4.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Lenin Suarez</h4>
                <span>Técnico Electrónico</span>
              </div>
            </div>
          </div> -->

        </div>

      </div>
    </section><!-- End Team Section --> 

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contacto</h2>
          <p>Contacta con nosotros</p>
        </div>

        <div>
          <iframe style="border:0; width: 100%; height: 270px;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d338.57947537901015!2d-71.14195713757694!3d8.59759725807503!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e6487efd183d253%3A0x3db3b46d96569b41!2sPytronic%20CA!5e0!3m2!1ses!2sve!4v1691269683542!5m2!1ses!2sve" frameborder="0" allowfullscreen></iframe>
        </div>

        <div class="row mt-5">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Dirección:</h4>
                <p>Av. 5 Esq. Calle 20, Centro Empresarial San Gabriel Nivel Mezzanina Oficina M2, Mérida 5101, Mérida</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>pytronicca@gmail.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Teléfono:</h4>
                <p>+58 414 7148811</p>
                <p>+58 274 2511225</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">

            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Tu Nombre" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Tu correo electrónico" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" id="message" rows="5" placeholder="Mensaje" required></textarea>
              </div>
              <div class="text-center">
                <button onclick="sendMail()" type="submit">Enviar mensaje</button>
              </div>
            </form>

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="250">





          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>Pytronic, C.A<span>.</span></h3>
              <p>
                Av. 5 Esq. Calle 20, Centro Empresarial San Gabriel Nivel Mezzanina Oficina M2<br>
                Mérida 5101, Mérida, Venezuela<br><br>
                <strong>Teléfono:</strong> +58 414 7148811<br>
                <strong>Email:</strong> pytronicca@gmail.com<br>
              </p>
              <div class="social-links mt-3">
                <a href="https://twitter.com/Pytronicca" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="https://www.facebook.com/pytroniccaoficial/" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="https://www.instagram.com/pytronicca/" target="_blank" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="https://www.linkedin.com/in/pytronic-ca-383304170/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Enlaces útiles</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Inicio</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Sobre nosotros</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Servicios</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Condiciones del servicio</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Política de privacidad</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Nuestros servicios</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Reparación de laptops</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Reparación de monitores y televisores</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Reparación de PC de escritorio</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Reparación de ups y transformadores</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Reparación de Impresoras y plotters</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Nuestro Newsletter</h4>
            <p>En construcción</p>
            <form action="#">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>2023</span></strong>. Todos los derechos reservados
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://www.pytronicca.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://www.pytronicca.com/Pytronic, C.A-free-multipurpose-html-bootstrap-template/ -->
        Diseñado por <a class="credits2" href="https://www.pytronicca.com/" target="_blank">Pytronic, Design</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>